:root{

    --primary-color: #4CAF50;
    --secondary-color: #ff9800;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-size: 16px;
    --background-color: #f4f4f4;
    --text-color: #333333;

}