:root{
    --primary-color: #dddddd;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-size: 16px;
    --background-color: #eeeeee;
    --text-color: #080808;
    --button-hover-color: #f11a90;

}
:root{
    --primary-color: #333;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-size: 16px;
    --background-color: #272727;
    --text-color: #dfdfdf;
    --button-hover-color: #f11a90;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 *::selection{
    background-color: var(--button-hover-color);
    color: white;
 }

#login-page{
    margin:0;
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    font-size: var(--font-size);
    justify-content: center;
    align-items: center;
}

#menu-page{
    background-color: var(--background-color);
    margin: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

    >header>section>details>summary{
        list-style: none;
    }
}


button{
    max-width: 135px;
    padding: 10px 20px;
    background-color: var(--button-hover-color);
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 4px;
    &:active{
        transform: scale(0.98);
    }
}

.login{ 
    height: 350px;
    width: 440px;
    display: grid;
    place-items: center;
    color: var(--text-color);
    padding: 20px;
    border-radius: 8px;
    background-color: var(--primary-color);
    svg{
        width: 50px;
        height: auto;
        color: currentColor;
    }
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.2);
}


div > section > form{
    display: grid;
    select{
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 0px;
        font-size: 16px;
        background-color: var(--background-color);
        color: var(--text-color);
        cursor: pointer;

    }
    >button:hover{
        background-color: #d13f8f;
    }
}

 header{
    
    padding: 10px 20px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    h1{
        font-size: 24px;
    }
 }  

#station-list{
    list-style: none;
    button{
        background-color: var(--primary-color);
        max-width: 3.3em;
        padding: 0px;
        height: 2em;
        width: 3.5em;
    };

    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#station-list button:hover{
    box-shadow: 0px 0px 0px 1px  var(--button-hover-color);
}

#sig-in-button{
    pointer-events: none;
    background-color: #f11a9085;
}

.active-login-button{
    pointer-events: all !important;
    background-color: var(--button-hover-color) !important;

}

.card-container {
    width: 100%;       
    flex-grow: 1;      
    background-color: var(--button-hover-color);
    margin: 0;
    box-sizing: border-box;
    overflow-y: auto; 
}