:root {
    --primary-color: #333;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-size: 16px;
    --background-color: #272727;
    --text-color: #dfdfdf;
    --button-hover-color: rgba(252, 87, 123, 0.973);
    --active-color: white;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*::selection {
    background-color: var(--button-hover-color);
    color: white;
}

#login-page {
    margin: 0;
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    font-size: var(--font-size);
    justify-content: center;
    align-items: center;
}

#menu-page {
    background-color: var(--background-color);
    margin: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

    >header>section>details>summary {
        list-style: none;



        >h5 {
            display: inline;
            background-color: var(--primary-color);
            border-radius: 5px;
            padding: 4px;


        }

        &:hover {
            cursor: pointer;

            >h5 {
                box-shadow: 0px 0px 0px 1px var(--button-hover-color);
            }



        }


    }
}


button {
    max-width: 135px;
    padding: 10px 20px;
    background-color: var(--button-hover-color);
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 4px;

    &:active {
        transform: scale(0.98);
    }
}

.login {
    height: 350px;
    width: 440px;
    display: grid;
    place-items: center;
    color: var(--text-color);
    padding: 20px;
    border-radius: 8px;
    background-color: var(--primary-color);

    svg {
        width: 50px;
        height: auto;
        color: currentColor;
    }

    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.2);
}


div>section>form {
    display: grid;

    select {
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 0px;
        font-size: 16px;
        background-color: var(--background-color);
        color: var(--text-color);
        cursor: pointer;

    }

    >button:hover {
        background-color: rgba(255, 72, 111, 0.918);
    }
}

header {

    padding: 10px 20px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    h1 {
        font-size: 24px;
    }
}

#station-list {
    list-style: none;

    button {
        background-color: var(--primary-color);
        max-width: 3.3em;
        padding: 0px;
        height: 2em;
        width: 3.5em;
    }

    ;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;



    .active_station {
        background-color: var(--active-color);
        color: var(--primary-color)
    }
}

#station-list button:hover {
    box-shadow: 0px 0px 0px 1px var(--button-hover-color);
}

#sig-in-button {
    pointer-events: none;
    background-color: rgba(252, 87, 123, 0.459);
}

.active-login-button {
    pointer-events: all !important;
    background-color: var(--button-hover-color) !important;

}

.card-container {
    display: flex;
    gap: 10px;
    width: calc(100%-15px);
    margin: 0;
    box-sizing: border-box;
    overflow-y: auto;
    flex-wrap: wrap;
    margin-left: 15px ;
}

.card {

    display: flex;
    border-radius: 10%;
    background-color: var(--primary-color);
    height: 150px;
    width: 150px;
    color: var(--text-color);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7em;
    padding: 20px;
    gap: 15px;

    .incidencias_button_cards {
        font-size: 1em;
        height: 30px;
        width: 80px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    >header{
        box-shadow: none;
        padding: 0px;
    }

}

